<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main_layout}">
<link href="bootstrap/bootstrap.min.css" rel="stylesheet">
<title>오늘 어때?</title>
<meta charset="UTF-8">
<!-- content -->
<th:block layout:fragment="content">
	<!-- 네이버 지도 API -->
	<script type="text/javascript"
		src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=51mvmkqypm&submodules=geocoder"></script>
	<script type="text/javascript" src="js/navermap.js"></script>
	<link href="/css/mainstyles.css" rel="stylesheet" />
	<div class="row my-5" id="global-content">
		<div class="col-12 offset-1">
			<div class="container">
				<!-- 지도를 표시할 div -->
				<div class="map-container">
					<div class="col-4" id="map" style="width: 100%; height: 100%;">
						<!-- 커스텀 현재 위치 버튼 -->
						<button id="current-location-btn"
							style="position: absolute; right: 10px; bottom: 40px; background-color: #fff; border-radius: 50%; padding: 10px; color: white; background-size: cover; background-position: center; z-index: 9999; background-image: url('/images/현재위치.png');">
						</button>
					</div>
				</div>
				<div class="col-4 weather-container">
					<div class="row">
						<table class="col-12 table table-bordered table-hover"
							id="main-resultTable">
							<thead>
								<tr>
									<th>하늘 상태</th>
									<th>기온</th>
									<th>강수 확률</th>
									<th>강수 량</th>
								</tr>
							</thead>
							<tbody>
								<!-- 날씨 데이터 출력 -->
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div style="display: none;">
			<tr>
				<!-- <td>날짜(baseDate)</td> -->
				<td><input width="auto" type="text" id="baseDate"
					name="baseDate" th:value="${baseDate}" /></td>
				<!-- <td>시간(baseTime)</td> -->
				<td><input width="auto" type="text" id="baseTime"
					name="baseTime" th:value="${baseTime}" /></td>
			</tr>
			<tr>
				<!-- <td>예보지점 x값</td> -->
				<td><input type="text" id="nx" name="nx" th:value="${gridX}" />
				</td>
				<!-- <td>예보지점 y값</td> -->
				<td><input type="text" id="ny" name="ny" th:value="${gridY}" />
				</td>
			</tr>
			<tr>
				<!-- <td>위도(latitude)</td> -->
				<td><input width="auto" type="text" id="latitudeNum"
					name="latitudeNum" th:value="${latitudeNum}" /></td>
				<!-- <td>경도(longitude)</td> -->
				<td><input width="auto" type="text" id="longitudeNum"
					name="longitudeNum" th:value="${longitudeNum}" /></td>
			</tr>
		</div>
		<!--<div class="row my-12">
					<div class="button-container">
						<button id="btn_weather" type="button" class="btn btn-primary">
							날씨조회</button> 
					</div>
				</div>-->
		<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
		<script src="/js/mainpageweather.js"></script>
	</div>
	</div>
</th:block>
</html>