<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main_layout}">
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>오늘의 날씨</title>
	<th:block layout:fragment="content">
		<div class="container">
			<div class="row">
				<div class="col-md-12 pt-5">
					<div class="card mb-4">
						<h5 class="card-header text-center">오늘의 날씨</h5>
						<div class="card-body">
							<div>
								<script
									src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
								<script
									src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=36a75517ce82693ff837cc79c740e197&libraries=services,clusterer"></script>
							</div>
							<div class="col-md-12 text-center">
								<div id="map"
									style="width: auto; height: auto; text-align: center;"></div>
								<table width="85%" style="margin: auto; text-align: center;">
									<tr>
										<!-- <td>날짜(baseDate)</td> -->
										<td><input width="auto" type="hidden" id="baseDate"
											name="baseDate" th:value="${baseDate}" /></td>
										<!-- <td>시간(baseTime)</td> -->
										<td><input width="auto" type="hidden" id="baseTime"
											name="baseTime" th:value="${baseTime}" /></td>
									</tr>
									<tr>
										<!-- <td>예보지점 x값</td> -->
										<td><input type="hidden" id="nx" name="nx"
											th:value="${gridX}" /></td>
										<!-- <td>예보지점 y값</td> -->
										<td><input type="hidden" id="ny" name="ny"
											th:value="${gridY}" /></td>
									</tr>
									<tr>
										<!-- <td>위도(latitude)</td> -->
										<td><input width="auto" type="hidden" id="latitudeNum"
											name="latitudeNum" th:value="${latitudeNum}" /></td>
										<!-- <td>경도(longitude)</td> -->
										<td><input width="auto" type="hidden" id="longitudeNum"
											name="longitudeNum" th:value="${longitudeNum}" /></td>
									</tr>
								</table>
								<br />

								<!-- 한 개의 row로 좌측과 우측을 나누어줍니다 -->
								<div class="row">
									<!-- 좌측 절반: 도시, 구/시 선택 -->
									<div class="col-md-6" id="addressChoice">
										<!-- 도시 선택 -->
										<div class="mb-3">
											<br> <label for="city-selector" class="form-label">도시
												선택</label>
											<div class="dropdown">
												<button
													class="btn btn-outline-primary dropdown-toggle w-100"
													type="button" id="city-selector" data-bs-toggle="dropdown"
													aria-expanded="false">도시를 선택하세요</button>
												<ul class="dropdown-menu w-100"
													aria-labelledby="city-selector">
													<!-- 도시 옵션은 JavaScript로 동적으로 변경 -->
												</ul>
											</div>
										</div>
										<!-- 구/시 선택 -->
										<div class="mb-3">
											<label for="district-selector" class="form-label">구/시
												선택</label>
											<div class="dropdown">
												<button
													class="btn btn-outline-primary dropdown-toggle w-100"
													type="button" id="district-selector"
													data-bs-toggle="dropdown" aria-expanded="false">
													구/시를 선택하세요</button>
												<ul class="dropdown-menu w-100"
													aria-labelledby="district-selector"
													style="max-height: 200px; overflow-y: auto;">
													<!-- 구/시 옵션은 JavaScript로 동적으로 변경 -->
												</ul>
											</div>
										</div>
									</div>
									<!-- 우측 절반: 주소 입력란 및 현재 위치 -->
									<div class="col-md-6">
										<!-- 주소 입력란 -->
										<br>
										<div class="mb-2">
											<label for="town-selector" class="form-label">주소 검색</label>
											<div class="d-flex">
												<!-- input 필드 -->
												<input type="text" id="address" value=""
													placeholder="검색 버튼을 눌러주세요." class="form-control me-2"
													style="flex: 1;">
												<!-- 도시와 구/시만 표시하는 필드 -->
												<input type="hidden" id="address-hidden" value=""
													placeholder="좌표 조회는 여기서" class="form-control me-2"
													style="flex: 1;">

												<!-- 버튼 -->
												<button type="button" id="addressBtn"
													class="btn btn-outline-primary">검색</button>
											</div>
										</div>
										<br>
										<!-- 현재 위치 표시란 -->
										<div class="mb-3">
											<label for="town-selector" class="form-label">현재 위치</label>
											<div class="d-flex">
												<!-- input 필드 -->
												<input type="text" id="localaddrese" value="현재 위치 정보"
													class="form-control me-2" readonly style="flex: 1;">
												<!-- 버튼 -->
												<button id="getWeatherButton" type="button"
													class="btn btn-outline-primary">현재 위치 입력</button>
											</div>
										</div>
									</div>
								</div>
								<!-- 버튼들 -->
								<button type="button" class="btn btn-outline-success"
									id="btn_weather">날씨 예보 조회</button>
							</div>
						</div>
					</div>

					<div class="row" id="result">
						<div class="col-md-12">
							<table class="table table-bordered table-hover" id="resultTable"
								style="display: none;">
								<colgroup>
								</colgroup>
								<thead>
									<tr class="table-secondary">
										<th>일자</th>
										<th>시간</th>
										<th>날씨</th>
										<th>기온</th>
										<th>강수형태</th>
										<th>강수량<br>적설량
										</th>
										<th>습도</th>
										<th>풍향<br>풍속
										</th>
										<th>동서풍<br>남북풍
										</th>
										<th>일출</th>
										<th>일몰</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/proj4"></script>
		<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
		<link href="bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="/css/indexstyles.css" rel="stylesheet" />
		<script th:src="@{js/jquery-3.7.1.min.js}"></script>
		<script th:src="@{js/weather.js}"></script>
		<script th:src="@{js/geolocation.js}"></script>
		<script th:src="@{js/choice.js}"></script>
		<script th:src="@{js/kakaomap.js}"></script>
		<!-- Luxon 라이브러리 추가 -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.0.4/luxon.min.js"></script>
</th:block>
</html>